.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../../assets/img/loading.gif) center no-repeat black;
}
.navbar-brand{
	height: 100%;
    width: auto;
}
.seleccionarCuota{
	cursor: pointer;
    font-size: 24px;
    left: 45%;
    position: relative;
}
#cuotaFija_filter, #tablaMora_filter{
	display: none;
}
::placeholder{
    font-style: italic;
}
#vMonto, #reinicarTablaCuotaFija{
    cursor: pointer;
}
